mixin ctGameStudioToolbox()
    xml#toolbox(style='display: none; width: 200px;')
        category(name='Aktionen')
            block(type='block_programm')
            block(type='schießen')
            block(type='block_schutzschild')
            block(type='collect')
            block(type='block_warten')
                field(name='wartezeit') 0
            block(type='log')
            block(type='text')
                field(name='TEXT') text
        category(name='Bewegung')
            block(type='move_Until')
            block(type='block_vorwaerts')
            block(type='block_rueckwaerts')
            block(type='geschwindigkeit')
            block(type='block_drehenneu')
            block(type='drehenursprung')
            block(type='block_anpeilen')
            block(type='block_stop')
        category(name='Scannen')
            block(type='block_scannummer')
            block(type='block_scannummerrel')
            block(type='block_istype')
            block(type='getangle')
            block(type='gety')
            block(type='getx')
            block(type='distance')
            block(type='block_gethealth')
            block(type='block_getplayer')
        category(name='Ereignisse')
            block(type='flag')
            block(type='eventdropdown3_neu')
        category(name='Schleifen')
            block(type='controls_repeat_ext')
                value(name='TIMES')
                    shadow(type='math_number')
                        field(name='NUM') 10
            block(type='controls_whileUntil')
            block(type='controls_for')
        category(name='Logik')
            block(type='controls_if')
            block(type='logic_compare')
            block(type='logic_operation')
            block(type='logic_boolean')
            block(type='logic_negate')
        category(name='Mathe')
            block(type='math_number')
            block(type='winkel')
            block(type='math_arithmetic')
                field(name='OP') ADD
                value(name='A')
                    shadow(type='math_number')
                        field(name='NUM') 1
                value(name='B')
                    shadow(type='math_number')
                        field(name='NUM') 1
            block(type='math_modulo')
                value(name='DIVIDEND')
                    shadow(type='math_number')
                        field(name='NUM') 64
                value(name='DIVISOR')
                    shadow(type='math_number')
                        field(name='NUM') 10
            block(type='math_single')
                field(name='OP') ROOT
                value(name='NUM')
                    shadow(type='math_number')
                        field(name='NUM') 9
            block(type='math_trig')
                field(name='OP') SIN
                value(name='NUM')
                    shadow(type='math_number')
                        field(name='NUM') 45
            block(type='math_random_float')
            block(type='math_round')
                field(name='OP') ROUND
                value(name='NUM')
                    shadow(type='math_number')
                        field(name='NUM') 3.1
            block(type='math_random_int')
                value(name='FROM')
                    shadow(type='math_number')
                        field(name='NUM') 1
                value(name='TO')
                    shadow(type='math_number')
                        field(name='NUM') 100
        category(name='Variablen', custom='VARIABLE')
        category(name='Funktionen', custom='PROCEDURE')
